/* 
.form-wrapper{
  width: 400px;
}
.form-wrapper,
.employee-list-wrapper {
  padding: 20px 40px;
  border-radius: 10px;
  background-color: #ffffff;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.email,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.email,
.password {
  width: 100%;
}

.login_w {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_w button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  margin-bottom: 0.25em;
}

table {
  border: 1px solid;
}
td {
  border: 1px solid;
  padding: 10px;
} */